<section class="our-team">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-4">Who we are!</h1>
        <p class="lead">We're led by a team who constantly questions and
          challenges to unlock the great creativity around every turn.
        </p>
      </div>
    </div>
    <hr class="mb-5 mt-4" />
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img
            src="./Images/mitch.jpg"
            class="img-fluid rounded-circle"
            alt=""
          />
          <div class="member-info">
            <div class="member-detail">
              <h4>&#x1F43E;Mitch</h4>
              <span>Database Administrator</span>
              <div><a href="#" class="link-secondary"><i
                    class="bi bi-github"
                  ></i>
                  GitHub</a></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img
            src="./images/caleb.jpeg"
            class="img-fluid rounded-circle"
            alt=""
          />
          <div class="member-info">
            <div class="member-detail">
              <h4>&#x1F43E;Caleb</h4>
              <span>Back-end Master</span>
              <div><a href="#" class="link-secondary"><i
                    class="bi bi-github"
                  ></i>
                  GitHub</a></div>

            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img
            src="./Images/dom.jpeg"
            class="img-fluid rounded-circle"
            alt=""
          />
          <div class="member-info">
            <div class="member-detail">
              <h4>&#x1F43E;Dom</h4>
              <span>Back-end Master</span>
              <div><a href="#" class="link-secondary"><i
                    class="bi bi-github"
                  ></i>
                  GitHub</a></div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <img
            src="./Images/kavi.jpg"
            class="img-fluid rounded-circle"
            alt=""
          />
          <div class="member-info">
            <div class="member-detail">
              <h4>&#x1F43E;Kavitha</h4>
              <span>Front-end Designer</span>
              <div><a href="#" class="link-secondary"><i
                    class="bi bi-github"
                  ></i>
                  GitHub</a></div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <hr class="mt-5" />
  </div>
</section>