<section class="vh-80">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">

              <img
                src="images/home.jpg"
                alt="login form"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem;"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <p class="lead">
                  Are you looking for safe and happy home for your rescue?</p>
                <p class="lead">&#x1F43E;You're in good hands now!</p>
                <p class="lead">We help thousands of animals find their fur-ever
                  homes each year!
                </p>

                <p class="lead">
                  All you have to do is sign up and you can browse rescued pets
                  that are ready for adoption or upload your own!
                </p>

                <p class="lead">Friends For Life <a href="/login">Login</a></p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>