{{!-- {{#each pets as |pet| }} --}}

<div class="card" style="width: 18rem;">
  <img src="https://freight.qantas.com/images/pets/GettyImages-764782285.jpg" id="img">
  <div class="card-body">
    <h5 class="card-title">Pet Name</h5>
    <p class="card-text">Some quick example text to show information about the pet</p>
    <a href="/singlepet" class="btn btn-primary">See Details!</a>
  </div>
</div>

{{!-- 
{{/each}} --}}