<div class="container">
  <div class="jumbotron">
    <h1>Hello Welcome, {{name}}! To our Pet adoption Page!</h1>
    <h2>Here is Our Fur babies! </h2>        
</div>


<script src="./js/profile.js"></script>

