{{!-- Once logged in render this page --}}

<div class="jumbotron">
    <h1 class="display-4">Hello, Welcome </h1>
    <p class="lead">Here is our pets!</p>
    <p class="lead">Would you like to post your pet for adoption? <a href="/"> Here is the form</a></p>
  </div>
  
  {{!-- Cards --}}
  <div class="card-deck" style="width:70rem; margin-left: 20px; align-items: center; ">
    <div class="card" style="width:80rem;">
      <img class="card-img-top" src="./Images/dog.gif" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Do you know dogs can make you healthier, happier and keep you safe!</p>
        <a href="#" class="btn btn-secondary">Checkout Our doggos!</a>
        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./Images/adopt.gif" alt="Card image cap">
      <div class="card-body">

        <p class="card-text">Every pets needs a HOME! 🐾</p>
       
        <a href="/homepage" class="btn btn-secondary">Show Some Love</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./Images/cat.gif" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Cats are quiet,great apartment pets,good for your health!</p>
        <a href="#" class="btn btn-secondary">Cats</a>
      </div>