{{!-- Once logged in render this page --}}

<div class="jumbotron">
    <h1 class="display-4">Hello, Welcome {{name}}! </h1>
    {{!-- <p class="lead">Here is our pets!</p> --}}
    {{!-- <p class="lead">Would you like to post your pet for adoption? </p> --}}
  </div>


           
           